In [7]:

import pandas as pd
import requests
import re
from io import StringIO

url = "https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PD04639PD-PD04640PD-PD04637PD-PD04638PD/csv/2020-01-01/2021-11-30"
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
req_text=str(req.text).replace("<br>","\n")
req_text=str(req_text).replace('"',"")

dict_months = {
    "Ene": "01",
    "Feb": "02",
    "Mar": "03",
    "Abr": "04",
    "May": "05",
    "Jun": "06",
    "Jul": "07",
    "Ago": "08",
    "Set": "09",
    "Oct": "10",
    "Nov": "11",
    "Dic": "12"
}

pattern = re.compile(r'\b(' + '|'.join(dict_months.keys()) + r')\b')
result = pattern.sub(lambda x: dict_months[x.group()], req_text)
data = StringIO(result)

df=pd.read_csv(data, names=["FECHA","TC_SBS_COMPRA","TC_SBS_VENTA","TC_INTERBANCARIO_COMPRA","TC_INTERBANCARIO_VENTA"],skiprows=1)
df['FECHA']=pd.to_datetime(df['FECHA'], format='%d.%m.%y')
df.to_csv("../results/dolar.csv",index=False)
df

         FECHA  TC_SBS_COMPRA  ...  TC_INTERBANCARIO_COMPRA  TC_INTERBANCARIO_VENTA
0   2020-01-02       3.301000  ...                    3.301                   3.305
1   2020-01-03       3.310571  ...                    3.308                   3.311
2   2020-01-06       3.322000  ...                    3.320                   3.323
3   2020-01-07       3.325571  ...                    3.325                   3.327
4   2020-01-08       3.317571  ...                    3.318                   3.320
..         ...            ...  ...                      ...                     ...
460 2021-10-28       3.976333  ...                    3.975                   3.980
461 2021-10-29       3.990667  ...                    3.986                   3.992
462 2021-11-02       4.006167  ...                    4.007                   4.012
463 2021-11-03       4.010667  ...                    4.008                   4.014
464 2021-11-04       4.007833  ...                    4.007                   4.013

[465 rows x 5 columns]